*{
	padding : 0px ;
	margin : 0px ;
}

.input {
	text-align: center;
  }

.input-form {
	margin: 0 auto;
	max-width: 55%;
}
input:focus, textarea:focus, select:focus{
    box-shadow: 1px 1px 8px 1px #02f6fe;
    outline:none;
}

input:focus-within{
    box-shadow: 1px 1px 8px 1px #02f6fe;
    outline:none;
}

input.input {
	border: none;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
	border-radius: 75px;
	width: 100%;
    height: 35px;
    padding: 1.2%;
    font-size: larger;
    margin-top: 3%;
}

.display-result {
    margin: auto;
    max-width: 55%;
}

.words {
  	font-family: 'Balsamiq Sans', cursive;
    cursor: pointer;
    text-align: center;
    padding: 7px;
    margin-top: 4px;
    border: 1px solid;
    border-top: none;
    margin-left: 12px;
}
.words:nth-child(odd){
	background-color: #bee3ff;;
}










.header-fixed {
	background-color:#031e3a;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 75px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px serif, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
    background-color: rgba(255, 255, 0, 0.153)
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 30px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 10px 0;
		height: 55px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 22px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}
